.Img {
  width: 250px;
  height: 250px;
}

.ItemContainer {
  padding: 10px;
}

.Description {
  padding: 20px;
}

.ItemGalleryContainer {
  text-align: center;
}

.ItemFigcaption {
  font-size: 24px;
}
